/* .container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, th {
      vertical-align: middle;
  }

  .cart-image-width {
    width: 100px;
  }

  .cart-container {
    background-color: white;
  } */


  .cart-page {
    background-color: white;
    min-height: 960px;
  }

  .cart-body {
    padding: 10px;
  }

.cart-body .img-fluid {
    width: 130px;
    height: 130px;
}

  .cart-page .my-btn {
    padding: 10px;
    border-radius: 5px;
    background-color: #28a745;
    border : 1px solid #28a745;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }

  .total-price-qnty {
    float: right;
  }

  .text-center {
    text-align: center;
    color: #28a745;
  }

  .empty-cart a{
    width: 20%;
    display: flex;
    margin: 10px auto;
    text-decoration: none;
    text-align: center;
    background-color: cornflowerblue;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }

  .inc-dec-btn {
    padding: 7px;
    border-radius: 5px;
    background-color: #28a745;
    border: 1px solid #28a745;
    color: white;
    cursor: pointer;
    width: 30px;
    margin: 5px;
  }