.card-layout {
    display:  flex;
    align-items: stretch;
    background-color: white;
    background: white;
}

.price-sec {
    width: 100%;
    padding: 5px 16px 8px;
    position: relative;
    background: #fff;
    z-index: 2;
}

.image-width {
    width: 150px;
}