.routesview {
    height: auto;
    background-color: #3b5998;
    font-family: 'Numans', sans-serif;
    /* border: 1px solid red; */
}

.routing {
    /* border: 1px solid green; */
    background-color: #333;
    overflow: auto;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    opacity: 0.9;
}

.routing a {
    color: white;
    text-decoration: none;
}

.routing h1 {
    float: left;
    padding-bottom: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

.header-cart {
    color: #28a745;
}

.routing ul {
    list-style: none;
    float: right;
}

.routing ul li{
    float: left;
}

.routing ul li a{
    display: block;
    padding: 20px;
    text-align: center;
    transition-property: all 1s ease-in-out;
}

.routing ul li a:hover{
    background-color: #444;
    color: #f7c08a;
    /* transform: scale(2); */
}

.before-signin {
    float: none !important;
    text-align: center !important
}

.after-sign-in {

}

.logout-btn {
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    margin: 20px;
    padding: 5px;
    color: white;
    cursor: pointer;
}

#footer {
    background: white;
    /* position: sticky; */
    bottom: 0;
    text-align: center; 
}

#footer a {
    color: white;
    font-family: "archia";
    text-align: center;
    text-decoration: none;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase !important;
    font-weight: 500;

}

.github_link svg {
    padding-right: 3px;
}

