* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-home {
  background-image: url("./images/home-page-bg.jpg");
  background-size: cover;
  height: 600px;
  width: 100%;
}

.main-home h1 { 
    color : white;
    margin: 0 auto;
    padding: 20px 20p;
    max-width: 960px;
    padding: 20px;
}

.main-home a {
  color : yellow !important

}



.align-left {
  text-align: left;
  float: left;
}

.google-sign-in-btn {
  margin: 10px 0;
}

